{% extends 'historial/historial_base.html' %}
{% block title %}Borrar datos de la Accion{% endblock %}
{% block extra_rutes %}
  <a href="#"> - </a><a href="/historial/delete/{{accion.id}}">Eliminar {{accion.id}}</a>
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
      <h4 class="card-title">Eliminar datos de la acción {{accion.id}}</h4>
  </div>

  <div class="card-block">
      <div class="card-body">
        <h3>¿Está seguro que quiere perder para siempre los siguientes datos?</h3>
        <div class="card-text">
          <ul>
            <li><strong>Nombre de la información: {{ accion.nombreClase }}</strong></li>
            <li><strong>Tipo de acción: </strong>{{ accion.operacion }}</li>
            <li><strong>Fecha: </strong>{{ accion.fecha }}</li>
            <li><strong>Hora: </strong>{{ accion.hora }}</li>
          </ul> 
          <form action="/delete/historial/send" method="post">
            <input type="number" name="id" value="{{accion.id}}" readonly hidden>
            <a href="/historial/table">
              <button type="button" class="btn btn-success btn-min-width mr-1 mb-1"><i class="la la-chevron-left"></i>Volver</button>
            </a>
            <button type="submit" class="btn btn-danger btn-min-width mr-1 mb-1"><i class="la la-trash"></i>Eliminar</button>
          </form>
        </div>         
      </div>
  </div>
</div>
{% endblock %}
